name: build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # use a token so we trigger release-please if needed
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
      - name: Install dependencies
        run: ./scripts/bootstrap
      - name: Build TypeScript
        run: ./scripts/build
      - name: Commit build changes
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git add dist
          if git diff --cached --quiet HEAD; then
            echo "No changes to commit."
          else
            git commit -m "chore(build): Update dist"
            git push
          fi
