name: build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          # use a token so we trigger release-please if needed
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: "24"
      - name: Install dependencies
        run: ./scripts/bootstrap
      - name: Build TypeScript
        run: ./scripts/build
      - name: Commit build changes
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git add dist
          if git diff --cached --quiet HEAD; then
            echo "No changes to commit."
          else
            git commit -m "chore(build): Update dist"
            git push
          fi
