name: test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: "24"
      - name: Install dependencies
        run: ./scripts/bootstrap
      - name: Run linting
        run: ./scripts/lint
      - name: Run tests
        run: ./scripts/test
