name: test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
      - name: Install dependencies
        run: ./scripts/bootstrap
      - name: Run linting
        run: ./scripts/lint
      - name: Run tests
        run: ./scripts/test
